


  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Angular 13 CRUD Using material UI</span>
    <span class="example-spacer"></span>
    <button style="margin-right:100px;" mat-raised-button color="warn" (click)="openDialog()">Add Product</button>
    <button style="margin-right:100px;" mat-raised-button color="warn" (click)="fileDownload()">Export</button>
    <input type="file" mat-raised-button color="warn" (change)="fileRead($event)"/>
  </mat-toolbar>
  
<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
        </ng-container>
    

        
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
          <td mat-cell *matCellDef="let row"> {{row.category}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="subCategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Sub Category
          </th>
          <td mat-cell *matCellDef="let row">{{ row.category }}</td>
        </ng-container> -->

        <ng-container matColumnDef="startdate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Startdate</th>
          <td mat-cell *matCellDef="let row"> {{row.startdate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="enddate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Enddate</th>
          <td mat-cell *matCellDef="let row"> {{row.enddate | date}} </td>
        </ng-container>

    
        
        <ng-container matColumnDef="freshness">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Freshness </th>
          <td mat-cell *matCellDef="let row"> {{row.freshness}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>price</th>
          <td mat-cell *matCellDef="let row"> {{row.price | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> comment </th>
          <td mat-cell *matCellDef="let row"> {{row.comment}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="editProduct(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteProduct(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
   
    
    
  </div>
</div>
<div *ngFor="let row of data1">
  <li>{{ row.productName }}</li>
  <span>{{ row.category }}</span>
  <span>{{ row.startdate }}</span>
  <span>{{ row.enddate }}</span>
  <span>{{ row.freshness }}</span>
  <span>{{ row.price }}</span>
  <span>{{ row.comment }}</span>
</div>

